NVIDIA_API_KEY=replace_with_your_nvidia_api_key
GITHUB_TOKEN=replace_with_an_optional_read_only_github_token
YOUTUBE_API_KEY=replace_with_an_optional_youtube_data_api_key
REDDIT_ACCESS_TOKEN=replace_with_an_optional_reddit_oauth_access_token
